In [ ]:
select name, quantity, price as price_usd
from products
Order by price ASC;

In [ ]:
select name, quantity, price as price_usd, price * 50 as price_mur , price * quantity *50 as inventory_cost_mur
from products
Order by price ASC;

In [ ]:
-- select avg (price)
-- from products

-- select avg (price) as avg_price_usd, avg (price *50) as avg_price_mur, sum(price) as total_price, sum(quantity) as total_inventory
-- from products


-- select count(distinct category)
-- from products

-- select distinct category from products;

select max(price), min(price)
from products

In [ ]:
Create table shelf(
  sid varchar(10) Primary key,
  genre text,
  location text
);

Create table books(
  id varchar(10) Primary key,
  title text unique,
  author text,
  sid varchar(10) references shelf(sid)
);




-- staff(
--   sid primary key
--   name,
--   dob,
--   salary,
--   did
-- )

-- dept(
--   did primayr key,
--   name,
--   category,
--   manager
-- )

In [ ]:
-- select * from books;

-- select * from shelf;

-- select *
-- from books as b, shelf as s
-- where b.sid=s.sid;


-- select *
-- from books
-- Inner join shelf
-- on books.sid = shelf.sid

-- select *
-- from books as b
-- Inner join shelf as s
-- on b.sid = s.sid


-- select b.id, b.title, b.author, s.genre, s.location
-- from books as b
-- Inner join shelf as s
-- on b.sid = s.sid

select b.id, b.title, b.author, s.genre, s.location
from books as b
Full join shelf as s
on b.sid = s.sid