In [ ]:
-- select author
-- from books
-- where title='Neuromancer';

-- Create or replace function lookup_author(keyword_title text)
-- Returns varchar(100) as $$
-- begin
-- Return(
--   select author
--   from books
--   where title=keyword_title
-- );
-- end;
-- $$ Language plpgsql;

-- select *
-- from lookup_author('Neuromancer');

select lookup_author('Neuromancer');

In [ ]:
    "B004S002Aisle 3"

In [ ]:
-- create or replace function gen_code(book_name text) 
-- Returns text AS $code$

-- declare
--   bookid text;
--   shelfid text;
--   aisle text;
--   code text;
  
-- begin
--   bookid := (Select id from books where title=book_name);
--   shelfid := (Select sid from books where id=bookid);
--   aisle := (Select location from shelf where sid=shelfid);
--   code := CONCAT(bookid,shelfid,aisle);
--   Return code;
--   End;
-- $code$ language plpgsql;


-- select gen_code('The Republic');

In [ ]:
id varchar(100),
title varchar(255),
author varchar(255), 
genre varchar(255),
location varchar(255)

In [ ]:
-- create or replace function all_books_by_author(author_name text) 
-- Returns table(
--   id varchar(10),
--   title text,
--   author text, 
--   genre text,
--   location text
-- ) as $$
-- begin
--   Return QUERY
--   select b.id, b.title, b.author,s.genre, s.location
--   from books as b
--   join shelf as s
--   on b.sid= s.sid
--   where b.author= author_name;

-- End;
-- $$ language plpgsql;


-- Drop function all_books_by_author;
select * from all_books_by_author('NR');

-- SELECT pg_typeof('id') FROM books;