In [9]:
i=5

In [45]:
names=['Tom','Jerry','Mickey','Donald','Goofy']

marks=[10,20,30,40,50]

person=['John','Doe',30, True, False]

print(person)

['John', 'Doe', 30, True, False]

In [11]:
names=[] #define empty list called names

print(names)
#lists works with the principle of LIFO

names.append('Tom') #add to the end

print(names) #['Tom']

names.append('Jerry') 

names.append('Mickey') 

names.append('Donald')

print(names)

[]
['Tom']
['Tom', 'Jerry', 'Mickey', 'Donald']

In [12]:
names.pop() #remove last element
print(names) 

names.pop()
print(names) #

['Tom', 'Jerry', 'Mickey']
['Tom', 'Jerry']

In [16]:
names=['Tom','Jerry','Mickey','Donald','Goofy']

print(names)


print(names[0])


print(names[3])

print(names[4])

['Tom', 'Jerry', 'Mickey', 'Donald', 'Goofy']
Tom
Donald
Goofy

In [ ]:
#circular indexing
print(names[-1]) 

print(names[-3])

Goofy
Mickey

In [ ]:
marks=[10,20,30,40,50]

marks[2]=35 #update an element within a list

print(marks)

[10, 20, 35, 40, 50]

In [ ]:
marks=[10,20,30,40,50]


marks.pop(3) #remove element at index 3
 
print(marks)

[10, 20, 30, 50]

In [ ]:
marks=[10,20,30,40,50]

del marks[3] #remove element at index 3
 
print(marks)

[10, 20, 30, 50]

In [ ]:
names=['Tom','Jerry','Mickey','Donald','Goofy']

first_3_names=names[0:3]
print(first_3_names) 

data=names[2:5]
print(data)

['Tom', 'Jerry', 'Mickey']
['Mickey', 'Donald', 'Goofy']

In [28]:
print(names[-3:])

['Mickey', 'Donald', 'Goofy']

In [29]:
print(names[:-2])

['Tom', 'Jerry', 'Mickey']

In [38]:
print(list(range(1,5)))

[1, 2, 3, 4]

In [ ]:
names=['Tom','Jerry','Mickey','Donald','Goofy']

for name in names: 
    print('The name of student is ',name)

The name of student is  Tom
The name of student is  Jerry
The name of student is  Mickey
The name of student is  Donald
The name of student is  Goofy

In [32]:
names=['Tom','Jerry','Mickey','Donald','Goofy']

print(len(names))

5

In [33]:
names=['Tom','Jerry','Mickey','Donald','Goofy']

for i in range(len(names)):
    print(names[i])

Tom
Jerry
Mickey
Donald
Goofy

In [44]:
names=['Tom','Jerry','Mickey','Donald','Goofy']
english_marks=[10,20,30,40,50]
maths_marks=[15,25,35,45,55]
science_marks=[20,30,40,50,60]


average_marks=[]

for i in range(len(names)):
   average_marks.append((english_marks[i]+maths_marks[i]+science_marks[i])/3)

print(average_marks) 


for i,name in enumerate(names):
   #  print(i,name)
   print(f'{name} scored {average_marks[i]} marks')

[15.0, 25.0, 35.0, 45.0, 55.0]
Tom scored 15.0 marks
Jerry scored 25.0 marks
Mickey scored 35.0 marks
Donald scored 45.0 marks
Goofy scored 55.0 marks

In [49]:
numbers=[9,4,7,2,6]
print(numbers)
numbers.sort() #sort the list in ascending order
print(numbers)

[9, 4, 7, 2, 6]
[2, 4, 6, 7, 9]

In [48]:
numbers=[9,4,7,2,6]

sorted_nums=list(set(numbers))
print(sorted_nums)

[2, 4, 6, 7, 9]