In [3]:
def avg(num1,num2):
    sum=num1 + num2
    average = sum / 2
    return average

avg(10,2)

6.0

In [4]:
def avg(num1,num2,num3):
    sum=num1 + num2 + num3
    average = sum / 3
    return average

avg(10,2,3)

5.0

In [5]:
def avg(num1,num2,num3,num4):
    sum=num1 + num2 + num3 + num4
    average = sum / 4
    return average

avg(10,2,3,2)

4.25

In [16]:
def avg(*nums):
    print(nums)
    sum = 0
    for num in nums:
        sum= sum+num
    average = sum / len(nums)
    return average

result=avg(10,2,3,2,5,6,7,8)
result2=avg(10,10)
result3= avg(10,20,30,40,50,60,70,80,90)


print(result)
print(result2)
print(result3)
print(result4)

(10, 2, 3, 2, 5, 6, 7, 8)
(10, 10)
(10, 20, 30, 40, 50, 60, 70, 80, 90)
5.375
10.0
50.0
100.0

In [ ]:
def record(english, math, science):
    print("English:", english)
    print("Math:", math)
    print("Science:", science)

record(60,30,50)
record(english=100, math=90, science=79)

In [13]:
def record(**details):
    for key,value in details.items():
        print(key, ":", value)
    print("---------------------")

record(name="John", age=25, city="New York")
record(name="Alice", age=30, city="Los Angeles", occupation="Engineer")
record(name="Bob", age=22, city="Chicago", occupation="Designer", hobby="Photography")
record(name="Charlie", age=28, city="San Francisco", occupation="Teacher", hobby="Reading", favorite_color="Blue")

name : John
age : 25
city : New York
---------------------
name : Alice
age : 30
city : Los Angeles
occupation : Engineer
---------------------
name : Bob
age : 22
city : Chicago
occupation : Designer
hobby : Photography
---------------------
name : Charlie
age : 28
city : San Francisco
occupation : Teacher
hobby : Reading
favorite_color : Blue
---------------------

In [15]:
def record(**details):
    print(details)
    for key,value in details.items():
        print(key, ":", value)
    print("---------------------")

record(math=100, english=90, science=79)
record(english=100, math=90, science=79,history=80, geography=70, art=85)

{'math': 100, 'english': 90, 'science': 79}
math : 100
english : 90
science : 79
---------------------
{'english': 100, 'math': 90, 'science': 79, 'history': 80, 'geography': 70, 'art': 85}
english : 100
math : 90
science : 79
history : 80
geography : 70
art : 85
---------------------