In [ ]:
-- alter table products
-- add constraint positive_price CHECK (price>=0);


-- select *
-- from products;


insert into products
values('11','Test',200,'Test',-1,'test',true,null);

In [ ]:
  -- Alter table books
  -- update constraint set books_sid_fkey to FOREIGN KEY (sid) REFERENCES shelf(sid) ON UPDATE cascade;
  
-- ALter table books
-- drop constraint books_sid_fkey;


Alter table books
Add constraint books_sid_fkey FOREIGN KEY (sid) REFERENCES shelf(sid) ON UPDATE cascade;

In [ ]:
select
from table1
join table2
on table1.id = table2.id
join table3
on table2.id = table3.id;