In [ ]:
CREATE TABLE products (
  id varchar(15) PRIMARY KEY,
  name varchar(255) NOT null,
  quantity int,
  category varchar(50),
  price float,
  description varchar(255),
  sales Boolean DEFAULT false,
  expiry_date date
)

In [ ]:
CREATE TABLE users(
  id varchar(15) primary key,
  name varchar(255), 
  email varchar(255) unique,
  address varchar(255)
)

In [ ]:
CREATE TABLE users(
  id varchar(15) primary key,
  name varchar(255), 
  email varchar(255) unique,
  address varchar(255)
)

In [ ]:
INSERT INTO users
Values('2','Eric Kam', 'eric@gmail.com', 'FLorida, USA'),
('3','Paul Walker','paul@gmail.com','UK'),
('4','Rota Uto','utpo@gmail.com','Japan'),
('5','Sora','sora@gmail.com','China');

In [ ]:
Insert into products (id,name, quantity,category, price, description, expiry_date, sales)
Values('1', 'Gaming Mouse GX100', 120, 'Gaming Accessories', 59.99, 'High-precision RGB gaming mouse',NULL, False),
('2', 'Mechanical Keyboard MK200', 80, 'Gaming Accessories', 89.50, 'RGB backlit mechanical keyboard with blue switches', '2027-06-30', True),
('3', 'PC Gaming Tower Alpha', 40, 'Gaming PCs', 1299.00, 'Prebuilt gaming PC with RTX 4060 and Ryzen 5', NULL, False),
('4', 'Car HUD Speed Display', 60, 'Car Electronics', 45.00, 'Heads-up display for vehicle speed and alerts', '2027-09-15', True),
('5', 'Digital Car Dashboard V2', 25, 'Car Electronics', 199.99, 'Touchscreen digital dashboard with GPS and diagnostics', '2028-01-01', False),
('6', 'Gaming Monitor 27" 165Hz', 35, 'Gaming Accessories', 249.99, '27-inch full HD curved monitor with 165Hz refresh rate', NULL, True),
('7', 'LED RGB Light Strip', 200, 'Gaming Accessories', 14.99, 'Customisable RGB lighting for desktops and rooms', '2026-05-01', True),
('8', 'Smart Head Unit Android', 18, 'Car Electronics', 329.00, 'Car infotainment system with Android Auto and CarPlay', '2028-12-31', False),
('9', 'Wireless Gaming Headset', 70, 'Gaming Accessories', 119.99, 'Surround sound wireless headset with mic', '2027-03-01', False),
('10', 'Gaming Chair Pro Comfort', 22, 'Gaming Accessories', 199.00, 'Ergonomic gaming chair with lumbar support', NULL, False);

In [ ]:
-- Select *
-- from users;

-- Select *
-- from products;


--selecting specific columns from table
-- select name, description, category
-- from products;

-- arrange selected data
-- select name, description, category, price
-- from products
-- order by price ASC;  -- DESC

-- select *
-- from products
-- where category = 'Car Electronics';

-- select name, category,price
-- from products
-- where category= 'Car Electronics' and price <=200
-- order by price DESC;

In [ ]:
-- select * from users;


-- select * 
-- from users
-- where address like '%USA%';

-- select * 
-- from users
-- where email in ('tom@gmail.com','sora@gmail.com');

In [ ]:
-- Select *
-- from products
-- where expiry_date is not null;


-- select id, name, price
-- from products
-- order by price DESC
-- Limit 5;

select id, name, price
from products
order by price DESC
Limit 5
Offset 2;

In [ ]:
-- Select * 
-- from products
-- where category='Gaming Accessories';

-- Update products
-- SET sales=true
-- where category='Gaming Accessories';



-- Select * from products;

-- select * from users


-- Update users
-- set email='tom2@gmail.com'
-- where id='1';



update users
set name='Sory', email='sory@gmail.com'
where id='5'
RETURNING name,email;

In [ ]:
select * from users;


-- -- Delete from users
-- -- where id='2';



-- ALTER TABLE users2 RENAME TO users;

-- Alter table users
-- rename column full_name to name;