In [13]:
from sqlalchemy.orm import sessionmaker
import sqlalchemy as db
from sqlalchemy.ext.declarative import declarative_base

In [14]:
#connection to the database

connection_string = 'postgresql://di2025_owner:npg_9epN0OdmQvbS@ep-wispy-sky-a1dm32r0-pooler.ap-southeast-1.aws.neon.tech/di2025?sslmode=require&channel_binding=require'
engine = db.create_engine(connection_string)

In [15]:
#models

Base = declarative_base()

class Items(Base):
    __tablename__ = 'items'
    id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(50))
    price = db.Column(db.Float)
    quantity = db.Column(db.Integer)
    description = db.Column(db.String(255))

/var/folders/5g/7m5tb_kn729bgtcb25k58dlc0000gn/T/ipykernel_6758/2980932393.py:3: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [16]:
#create a session and bind engine connection to orm
Session = sessionmaker(bind=engine)
session = Session()

In [ ]:
#create table Items
# Base.metadata.create_all(engine)

In [17]:
i1= Items(name='Laptop', price=40000.00, quantity=10, description='A high-performance laptop')
i2= Items(name='Mobile', price=20000.00, quantity=20, description='A latest smartphone')
i3= Items(name='Tablet', price=15000.00, quantity=15, description='A portable tablet device')
i4= Items(name='Headphones', price=3000.00, quantity=50, description='Noise-cancelling headphones')
i5= Items(name='Smartwatch', price=8000.00, quantity=30, description='A smartwatch with fitness tracking features')

#add items to the session
session.add(i1)
session.add(i2)
session.add(i3)
session.add(i4)
session.add(i5)

#commit the session to save changes to the database
session.commit()

In [18]:
#select all items from table
items = session.query(Items).all()
#display all items
for item in items:
    print(f"ID: {item.id}, Name: {item.name}, Price: {item.price}, Quantity: {item.quantity}, Description: {item.description}")

ID: 1, Name: Laptop, Price: 40000.0, Quantity: 10, Description: A high-performance laptop
ID: 2, Name: Mobile, Price: 20000.0, Quantity: 20, Description: A latest smartphone
ID: 3, Name: Tablet, Price: 15000.0, Quantity: 15, Description: A portable tablet device
ID: 4, Name: Headphones, Price: 3000.0, Quantity: 50, Description: Noise-cancelling headphones
ID: 5, Name: Smartwatch, Price: 8000.0, Quantity: 30, Description: A smartwatch with fitness tracking features

In [19]:
#items with quantity > 20
items2 = session.query(Items).filter(Items.quantity > 20).all()

for item in items2:
    print(f"ID: {item.id}, Name: {item.name}, Price: {item.price}, Quantity: {item.quantity}, Description: {item.description}")

ID: 4, Name: Headphones, Price: 3000.0, Quantity: 50, Description: Noise-cancelling headphones
ID: 5, Name: Smartwatch, Price: 8000.0, Quantity: 30, Description: A smartwatch with fitness tracking features

In [20]:
#get item by id
item3= session.query(Items).filter(Items.id == 4).one() #or .first() or .get(4)
print(f"ID: {item3.id}, Name: {item3.name}, Price: {item3.price}, Quantity: {item3.quantity}, Description: {item3.description}")

ID: 4, Name: Headphones, Price: 3000.0, Quantity: 50, Description: Noise-cancelling headphones

In [ ]:
#delete item by id
item_to_delete = session.query(Items).filter(Items.id == 5).one() #get it first 
session.delete(item_to_delete) #then delete
session.commit()

In [25]:
#update item by id
item_to_update = session.query(Items).filter(Items.id == 3).one() #get it first
item_to_update.quantity=100
session.commit() #then commit the changes

In [28]:
#select all items from table
items = session.query(Items).order_by(Items.price.desc()).all()
#display all items
for item in items:
    print(f"ID: {item.id}, Name: {item.name}, Price: {item.price}, Quantity: {item.quantity}, Description: {item.description}")

ID: 1, Name: Laptop, Price: 40000.0, Quantity: 10, Description: A high-performance laptop
ID: 2, Name: Mobile, Price: 20000.0, Quantity: 20, Description: A latest smartphone
ID: 3, Name: Tablet, Price: 15000.0, Quantity: 100, Description: A portable tablet device
ID: 4, Name: Headphones, Price: 3000.0, Quantity: 50, Description: Noise-cancelling headphones