In [3]:
print('hello world')

hello world

In [4]:
print("Tom")

Tom

In [5]:
#Comments
#Variables
#Data types
#Operators 
#Conditions

In [14]:
#this is a comment
print('Test')  #test
print('Test2')  #test2

# print('Test3')

Test
Test2

In [ ]:
#variables
age=10

print(age)

name="Tom"
print(name)

10

In [ ]:
#dynamic nature of python variables - different data types
age=10
print(age)


age='twenty'
print(age)

10
twenty

In [21]:
#variables - naming convention

name='Tom' #valid
name1='Tom' #valid
# 1name='Tom' #invalid - cannot start with number
# name 1='Tom' #invalid - cannot have space
name_1='Tom' #valid
na1me='Tom' #valid - but not recommended - hard to read
# nameÂ£1='Tom' #invalid - cannot have special characters
firstName= 'Tom' #valid

Name='Tom' #valid but not recommended - Upperclase first letter reserved for class names

PI=3.14 #valid - all uppercase reserved for constants

In [ ]:
#Data types
#Numbers - int, float
#String - str
#Boolean - bool
#Null - null

In [26]:
#integers - whole numbers
total=0
print(total)

num=100

num2=-10

num3=10003908789
print(num3)


print(type(num3))

0
10003908789
<class 'int'>

In [24]:
#float - decimal numbers

total=100.50

data=-10000.54789


print(type(total))

<class 'float'>

In [ ]:
#String
char='c'
data='Tom'
x="this is a sentence"
name='John Doe'

data2='This is so,me data. test @gmail.com password: $7689%^&*()'


print(name)
print(type(name))

print(data2)

John Doe
<class 'str'>
This is so,me data. test @gmail.com password: $7689%^&*()

In [30]:
#boolean

married=True
print(married)
print(type(married))

married=False
print(married)

True
<class 'bool'>
False

In [31]:
num1=10
num2=5


#Operators
#Arithmetic operators

addition=num1+num2
print(addition)

subtraction=num1-num2
print(subtraction)

multiplication=num1*num2
print(multiplication)

division=num1/num2
print(division)

remainder=num1%num2
print(remainder)

15
5
50
2.0
0

In [ ]:
#order of operations
#BODMAS

result= 3 + (4*2-5)-3*2

print(result)

In [33]:
firstName='Tom'
lastName='Hanks'

fullName=firstName+lastName

print(fullName)

fullName=firstName + ' ' + lastName
print(fullName)

TomHanks
Tom Hanks

In [ ]:
name='Tom'
age=10

print('Name : ' + name)
print('Age : ' + str(age)) #convert int to string 
# print('Age: ', age)

Name : Tom
Age : 10
Age:  10

In [38]:
#string formatting
name='Tom'
age=10
address='New York'

print(name+' is '+ str(age) + ' years old and lives in ' + address)

print('{} is {} years olf and lives in {}'.format(name, age, address))

print(f'{name} is {age} years old and lives in {address}')

Tom is 10 years old and lives in New York
Tom is 10 years olf and lives in New York
Tom is 10 years old and lives in New York

In [39]:
x='Hello'

print(x*4)

HelloHelloHelloHello

In [ ]:
#booleans operators
#True - 1
#False - 0

#and *
#or +

#True and True
#1 and 1
#1 * 1
#1
#True


#True and False
#1 and 0
#1 * 0
#0
#False

#or
#True or True
#1 or 1
#1 + 1
#2
#1
#True

#True or False
#1 or 0
#1 + 0
#1
#True

#False or False
#0 or 0
#0 + 0
#0
#False


#not
#not True
#False

#not False
#True



# True and (True or False)
# True and True
# True

In [44]:
#conditions

married=False

if married==True:
    print('You are married')

In [ ]:
married=False

if married==True:
    print('You are married')
else:
    print('You are not married')

In [ ]:
temp=25

if temp>25:
    print('It is hot')
    print('Turning on AC')

else:
    print('It is cold')
    print('Turning off AC')

It is hot
Turning on AC

In [49]:
temp=30
humidity=80

if temp>25 and humidity>50:
    print('It is hot and humid')
    print('Turning on AC')

else:
    print('It is cold or not humid')
    print('Turning off AC')

It is hot and humid
Turning on AC

In [52]:
total=11000

if total>=10000:
    print('You are eligible for 10% discount')

elif total>=5000:
    print('You are eligible for 5% discount')

elif total>=2000:
    print('You are eligible for 2% discount')

else:
    print('You are not eligible for any discount')

You are eligible for 10% discount

In [ ]:
email='test@test.com'
pw='12345'


print('Program starts')

if email=='test@test.com' and pw=='12345':
    print('Login successful')
else:
    print('Login failed')

print('Program ends')

Program starts
Login failed
Program ends

In [ ]:
#Nested if

email='test@test.com'
pw='12345'

if email=='test@test.com':
    if pw=='12345': #nested if condition (nested conditions means condition inside condition)
        print('Login successful')
    else:
        print('Login failed - Password wrong')

else:
    print('Login failed - Email doesnt exist')


print('Program ends')

In [ ]:
data=10
data=float(data)


# if data === 10:
#     print('Data is 10')

SyntaxError: invalid syntax (139992667.py, line 5)

In [56]:
#inputs and outputs

name=input('Enter your name: ')

print('Hello ' + name)

Hello Tom

In [71]:
total=100.500000
print(total)

100.5

In [73]:
age=input('Enter your age: ')

age=int(age)+1

print(age)

11