In [1]:
#function definition
def greet(): 
    print('hello')
    print('world')

In [2]:
greet() #function call

hello
world

In [3]:
print('program starts')
x=1
y=2
z=x+1

greet()

print(z)
print('program ends')
greet()

program starts
hello
world
2
program ends
hello
world

In [4]:
for i in range (10):
    greet()

hello
world
hello
world
hello
world
hello
world
hello
world
hello
world
hello
world
hello
world
hello
world
hello
world

In [5]:
#function definitions
def test():
    print('test function')
    
def test2():
    print('test2 function')

#main program

if __name__== '__main__': #check if the script is being run directly
    print('main program starts')
    test()
    test2()
    test()
    print('main program starts')

main program starts
test function
test2 function
test function
main program starts

In [6]:
#function definitions
def sayHi(): #function definition
    print('hi')


#main program
a=1
b=2
c=a+b
sayHi() #function call
print(c)

hi
3

In [9]:
def test():
    ax=1 #local variable
    print(ax)
    print(dx)


#main program
dx=10 #global variable
print('Program starts')
test()
# print('Value of x is ', ax)
print('Program ends')

Program starts
1
10
Program ends

In [ ]:
def average(num1,num2): #num1 and num2 are parameters
    sum=num1+num2
    avg=sum/2
    print(avg)

#main program
average(10,20) #10 and 20 arguments

15.0

In [11]:
def average4(num1,num2,num3, num4):
    sum=num1+num2+num3+num4
    avg=sum/4
    print(avg)

average4(10,20,30,40)

25.0

In [ ]:
def average(num1,num2): 
    sum=num1+num2
    avg=sum/2
    return avg #return value

#main program
result=average(10,20) 
print('Average is ', result)

Average is  15.0

In [14]:
print(average(30,50))

40.0

In [16]:
def register(name, address, age, nationality):
    print('Name:', name)
    print('Address:', address)
    print('Age:', age)
    print('Nationality:',nationality)
    print('')


#main program
register('John Doe', '123 Main St', 0, 'Mauritian')
register('Jane Doe', 'Ebene park', 0, 'Mauritian')
register('Jack Sparrow', 'Port Louis', 0, 'Mauritian')
register('Harry Potter', 'Curepipe', 0, 'Mauritian')
register('Hermione Granger', 'Rose Hill', 20, 'Mauritian-British')

Name: John Doe
Address: 123 Main St
Age: 0
Nationality: Mauritian

Name: Jane Doe
Address: Ebene park
Age: 0
Nationality: Mauritian

Name: Jack Sparrow
Address: Port Louis
Age: 0
Nationality: Mauritian

Name: Harry Potter
Address: Curepipe
Age: 0
Nationality: Mauritian

Name: Hermione Granger
Address: Rose Hill
Age: 20
Nationality: Mauritian-British

In [17]:
def test(a,b,c,d):
    print(a)
    print(b)
    print(c)
    print(d)

test(a,b)

TypeError: test() missing 2 required positional arguments: 'c' and 'd'

In [19]:
def register(name, address, age=0, nationality="Mauritian"): #default parameters
    print('Name:', name)
    print('Address:', address)
    print('Age:', age)
    print('Nationality:',nationality)
    print('')


#main program
register('John Doe', '123 Main St')
register('Jane Doe', 'Ebene park')
register('Jack Sparrow', 'Port Louis')
register('Harry Potter', 'Curepipe')
register('Hermione Granger', 'Rose Hill', 20, 'Mauritian-British')

Name: John Doe
Address: 123 Main St
Age: 0
Nationality: Mauritian

Name: Jane Doe
Address: Ebene park
Age: 0
Nationality: Mauritian

Name: Jack Sparrow
Address: Port Louis
Age: 0
Nationality: Mauritian

Name: Harry Potter
Address: Curepipe
Age: 0
Nationality: Mauritian

Name: Hermione Granger
Address: Rose Hill
Age: 20
Nationality: Mauritian-British

In [ ]:
# def register(name,address, age=0, nationality="Mauritian"): #default parameters


# register('John Doe', '123 Main St','test')

In [23]:
def average(x,y):
    sum=x+y
    avg=sum/2
    print(avg)

average(10,20)

a=20
b=40

average(a,b)

15.0
30.0

In [ ]:
def register(name, address, age=0, nationality="Mauritian"): 
    print('Name:', name)
    print('Address:', address)
    print('Age:', age)
    print('Nationality:',nationality)
    print('')


register('John Doe', '123 Main St', 20, 'Franco-Mauritien')


register(nationality='Mauritian', address='123 Main St', age=20, name='John Doe') #keyword arguments

Name: John Doe
Address: 123 Main St
Age: 20
Nationality: Franco-Mauritien

Name: John Doe
Address: 123 Main St
Age: 20
Nationality: Mauritian

In [25]:
def average(num1,num2):
    sum=num1+num2
    avg=sum/2
    return sum, avg #return 2 values


#main program
sum, avg=average(10,20) #unpacking
print('Sum:', sum)
print('Average:', avg)

Sum: 30
Average: 15.0