In [ ]:
# person=['JOhn', 30, 'New York', False, ['Math', 'Science', 'History'], False]


person={
    "name": "John",
    "age": 30,
    "city": "New York",
    "is_student": False,
    "courses": ["Math", "Science", "History"],
    "married": False,
}

print(person)

{'name': 'John', 'age': 30, 'city': 'New York', 'is_student': False, 'courses': ['Math', 'Science', 'History'], 'married': False}

In [6]:
print(person['age'])
print(person['name'])
print(person['courses'])

print(person['courses'][2])

print(person['is_student'])

30
John
['Math', 'Science', 'History']
History
False

In [ ]:
data={}

data['code']=0  #add a new key-value pair to dictionary

print(data)

data['errors']=100

print(data)

{'code': 0}
{'code': 0, 'errors': 100}

In [13]:
person={
    "name": "John",
    "age": 30,
    "city": "New York",
    "is_student": False,
    "courses": ["Math", "Science", "History"],
    "married": False,
}


person['age']=32 #update the value of an existing key
print(person)


del person['married'] #delete a key-value pair from the dictionary

print(person)

{'name': 'John', 'age': 32, 'city': 'New York', 'is_student': False, 'courses': ['Math', 'Science', 'History'], 'married': False}
{'name': 'John', 'age': 32, 'city': 'New York', 'is_student': False, 'courses': ['Math', 'Science', 'History']}

In [15]:
person={
    "name": "John",
    "age": 30,
    "city": "New York",
    "is_student": False,
    "courses": ["Math", "Science", "History"],
    "married": False,
}

print(person.keys()) #get all keys of the dictionary

print(person.values()) #get all values of the dictionary

dict_keys(['name', 'age', 'city', 'is_student', 'courses', 'married'])
dict_values(['John', 30, 'New York', False, ['Math', 'Science', 'History'], False])

In [17]:
print(person.items()) #get all key-value pairs of the dictionary


for key,value in person.items():
    print(key, ":", value) #iterate through the dictionary and print each key-value pair

dict_items([('name', 'John'), ('age', 30), ('city', 'New York'), ('is_student', False), ('courses', ['Math', 'Science', 'History']), ('married', False)])
name : John
age : 30
city : New York
is_student : False
courses : ['Math', 'Science', 'History']
married : False

In [18]:
for key in person.keys():
    print(key) #iterate through the keys of the dictionary

name
age
city
is_student
courses
married

In [19]:
for value in person.values():
    print(value) #iterate through the values of the dictionary

John
30
New York
False
['Math', 'Science', 'History']
False

In [21]:
# Nested Dictionary
students={
    "John":{
        "age": 30,
        "city": "New York",
        "is_student": False,
        "courses": ["Math", "Science", "History"],
        "married": False,
    },
    "Jane":{
        "age": 25,
        "city": "Los Angeles",
        "is_student": True,
        "courses": ["Biology", "Chemistry"],
        "married": True,
    },
    "Mike":{
        "age": 28,
        "city": "Chicago",
        "is_student": False,
        "courses": ["Physics", "Math"],
        "married": True,
    }
}

In [ ]:
print(students['Jane'])
print(students['Jane']["is_student"])
print(students['Jane']["courses"][1])

{'age': 25, 'city': 'Los Angeles', 'is_student': True, 'courses': ['Biology', 'Chemistry'], 'married': True}
True

In [30]:
results=[
    {'score': 85, 'subject': 'Math'},
    {'score': 90, 'subject': 'Science'},
    {'score': 78, 'subject': 'History'},
    {'score': 88, 'subject': 'English'},
]

for result in results:
    # print(result)
    print(result['score'], result['subject']) #iterate through the list of dictionaries and print each score and subject

85 Math
90 Science
78 History
88 English

In [32]:
book={
    'name': 'Harry Potter',
    'author': 'J.K. Rowling',
    'published_year': 1997,
    'published_year': 1998,
}

print(book)
print(book['published_year'])

{'name': 'Harry Potter', 'author': 'J.K. Rowling', 'published_year': 1998}
1998

In [33]:
names=['TOm', 'Jerry', 'Spike', 'Tyke']

for name in names:
    print(name) #iterate through the list and print each name

TOm
Jerry
Spike
Tyke

In [36]:
book={
    'name': 'Harry Potter',
    'author': 'J.K. Rowling',
    'published_year': 1997,
}

for item in book:
    print(item, " : ", book[item]) #iterate through the dictionary and print each key-value pair

name  :  Harry Potter
author  :  J.K. Rowling
published_year  :  1997

In [ ]:
book={
    'name': 'Harry Potter',
    'author': 'J.K. Rowling',
    'published_year': 1997,
}


# book.update({'author': 'Test'})

book['name']='HP2' #update the value of an existing key


print(book)

{'name': 'HP2', 'author': 'J.K. Rowling', 'published_year': 1997}

In [42]:
for item,value in book.items():
    print(item, " : ", value) #iterate through the dictionary and print each key-value pair

name  :  HP2
author  :  J.K. Rowling
published_year  :  1997

In [43]:
book={
    'name': 'Harry Potter',
    'author': 'J.K. Rowling',
    'published_year': 1997,
}


print(book.items())

dict_items([('name', 'Harry Potter'), ('author', 'J.K. Rowling'), ('published_year', 1997)])

In [ ]:
x=10

if x>5:
    pass #placeholder

print('test')

IndentationError: expected an indented block after 'if' statement on line 3 (2069522988.py, line 6)

In [ ]:
family={'John':20, 'Jane':25, 'Mike':30}

dobs={name: 2025-age for name, age in family.items()}

print(dobs)

{'John': 2005, 'Jane': 2000, 'Mike': 1995}

In [49]:
family={'John':20, 'Jane':25, 'Mike':30}
for name, age in family.items():
    print(name, age)

John 20
Jane 25
Mike 30

In [ ]:
family={'John':20, 'Jane':25, 'Mike':30}

family.clear() #clear the dictionary
print(family) #print the empty dictionary

{}