In [1]:
name="Tom"

x=list(name)
print(x)

['T', 'o', 'm']

In [ ]:
person=("Tom", 25, "New York") #defining a tuple
print(person)

('Tom', 25, 'New York')

In [5]:
name=person[0] #accessing the first element of the tuple
print(name)

print(person[2])

Tom
New York

In [6]:
data=("Solar Inc", "New York", 1000, 5000)

data[2]=2000 #this will give an error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [7]:
person=("Tom", 25, "New York")

person.append("Engineer") #this will give an error because tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
person=("Ton", 25, "New York", False)
print(person)

('Ton', 25, 'New York', False)

In [9]:
person=(1,1,1,1,1,1,1,2,2,2,3)
print(person)

(1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 3)